#pragma once

// Copy this file to secrets.h and fill in your credentials.
// secrets.h is ignored by git to keep your secrets safe.

// WiFi ssid
const char* ssid = "YOUR_WIFI_SSID";
// WiFi password
const char* password = "YOUR_WIFI_PASSWORD";
// MQTT server
const char *mqtt_server = "YOUR_MQTT_SERVER";
// P1 Smartmeter res API endpoint
const char *apiUrl = "YOUR_API_URL";
